html,
body {
    background-color: #E6E6FA;
    font-family: 'Times New Roman', Times, serif;
    color: #008B8B;
    display: block;
    text-align: center;


}

.conteiner {
    background-color: #F8F8FF;
    text-align: center;
    padding: lem;
    border-radius: 10px;
    width: 37em;
    height: 20em;
    box-shadow: 5px 8px 8px #666;
    color: black;
    align-items: center;



}
.form-submit-button {
	background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 50px;
	width: 100px;
	font: bold15px arial,sans-serif;
	text-shadow: none;
}


.number {
    border-radius: 20px;
    width: 27em;
    height: 2em;
    text-align: center;
}

.vali {
    border-radius: 20px;
    left: 27em;
    width: 5em;


}

.verify {
    border-radius: 20px;
    left: 27em;
    width: 5em;



}

.custumer {
    border-radius: 20px;
    width: 27em;
    height: 2em;
    text-align: center;
}

.footer {
    text-align: left;
    height: 20em;
    width: 10em;
    border-radius: 20px;
}